:root {
    --c-dark:rgb(55, 55, 91)0, 60, 128;
    --c-light:#1ed2d5;
}
* {
    box-sizing: border-box;
    font-family: 'Average Sans', sans-serif; 
}

body {
    background-color:#e5eff7;
}

.header-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    background:rgb(41, 41, 53);
    color:var(--c-dark);
}

h1.steve-hondl {
    background-color:var(--c-light);
    width: 265px;
}

h1{
    color:var(--c-dark);
    font-size: 40px;
    margin: 5px 0 5px 0;
    padding: 0 15px 0 0;
    text-align: right;
    text-indent: 15px;
}

header nav {
    float: right;
    padding: 0 75px 0 0;
    background-color: var(--c-dark);
}

header nav li {
    list-style-type: none;
    text-decoration: underline;
    float: left;
    margin:0 -30px 0 10px;
    font-size: 16px;
    padding-right: 30px;
}
#subtitle {
    background-color: #1ed2d5;
    display: inline;
    align-self: flex-end;
    margin: 0 25px 25px 0;
    padding: 3px;
    

    
}
li a {
    color: var(--c-light);
    font-size: 30px;

}
.article-content img:hover {
    border: 10px solid black;
}
li {
    &:hover {
        color: var(--c-light);
        background-color:var(--c-dark);
    }
}

header nav li a {
    text-decoration: underline;
}

a {
    color:var(--c-dark);
}

p {
    color: var(--c-dark);
    font-size: 24px;
}

.bgraphic {
    display: flex;
    height: 250px;
    width: 100%;
    margin-bottom: 10px;
    background-image: url("./image-folder/02-hero-bg.jpg");
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}

main{
    display: flex;
    flex-wrap: wrap;
}

.wrap-main{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0 7% 0 7%;
}



.article-header{
    flex: 1 1 auto;
    margin-left: 9%;
}

.article-content{
    flex: 1 1 auto;
    margin-left: 10%;
}

.fb-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: center;


}

.fb-container > a > figure > img{
    width: 800px;
    height: 300px;
}

.fb-container > a > article > img{
    width: 380px;
    height: 125px;
}

.big-card {
    border-style: solid;
    border-color:aqua;
    border-width: 6px;
}

.small-cards {
    margin: 10px 10px 0 0;
    border-style: solid;
    border-color:#1ed2d5;
    border-width: 6px;
    background-blend-mode: color-burn;
}
/* .big-card {
    flex: 1 1 auto;
    padding: 5px;
    border-style: solid; 
    border-color:var(--c-light);
    border-width: 2px;
    max-height: 50%;
}


.big-card img{
    width: 100%;
    height: 100%;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-style: solid;
    border-color:var(--c-light);
    border-width: 2px; 
    
}

.image-grid div {
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    border-style: solid;
    border-color:var(--c-light);
    border-width: 2px; 
}

.image-grid div img {
    display: flex;
    flex-direction: row;
    flex: 1 1 50%;
    border-style: solid;
    border-color: var(--c-light);
    border-width: 2px; 
} */

.footer-wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0px;
    color: var(--c-dark);
}

h2.contact-me{
    width: 265px;
}

h2{
    color:var(--c-dark);
    font-size: 60px;
    margin: 5px 0 5px 0;
    padding: 0 15px 0 0;
    text-align: right;
    text-indent: 15px;

}

.wrap-footer{
    display: flex;
    justify-content:space-between;
    padding: 0 0 0 0;
    margin: 0 7% 0 7%
}

footer nav {
    float: right;
    padding:0 75px 0 0;
}

footer nav li {
    list-style-type: none;
    text-decoration: underline;
    float: left;
    margin:0 -30px 0 10px;
    font-size: 16px;
    padding-right: 30px;
}

footer li a{
    color: var(--c-dark);
}


footer nav li a {
    text-decoration: underline;
}
 
footer {
    margin-top: 5%;
}


@media screen and (max-width: 768px) {

h1.steve-hondl{
    width: 768px;
    text-align: center;
}
h1 {
    margin:0;
}

header nav {
    width: 100%;
    display:flex;
    justify-content: center;
    padding: 0;
   
}

header nav ul {
    padding-inline-start: 0;
}

header nav ul li{
    width:auto;
    float: left;
}

.article-header {
    width: 100%;
}

.article-content {
    margin: 20px 0 20px 0;
}

.wrap-main {
    flex-wrap: wrap;
}

h2.contact-me{
    width: 768px;
    text-align: left;
}

h2 {
    margin:0;
    text-align: left;
}

footer nav {
    width: 100%;
    display:flex;
    justify-content: center;
    padding: 0;
   
}

footer nav ul {
    padding-inline-start: 0;
}

footer nav ul li{
    width:auto;
    float: left;
}

footer nav li {
    list-style-type: none;
    text-decoration: underline;
    float: left;
    margin:0 30px 0 10px;
    font-size: 16px;
    padding-right: 35px;
}

}
