* {
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 245, 245);
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    background: gray;
    color:aqua;
}

h1.steve-hondl {
    background-color:aqua;
    width: 400px;
    float: left; 
}

h1{
    color: gray;
    font-size: 60px;
    margin: 10px 0 10px 0;
    padding: 10px 20px 10px 10px;
    text-align: right;
    text-indent: 15px;
}

header nav {
    float: right;
}


.bgraphic {
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-image: url("./image-folder/02-hero-bg.jpg");
    background-size: cover;
    background-position: center;
    content:"testing writing on the picture";
    content-visibility: visible;
}