* {
    box-sizing: border-box;
    font-family: 'Average Sans', sans-serif; 
}

body {
    background-color: rgb(245, 245, 245);
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    background: gray;
    color:aqua;
}

h1.steve-hondl {
    background-color:aqua;
    width: 265px;
    float: left; 
}

h1{
    color: gray;
    font-size: 40px;
    margin: 5px 0 5px 0;
    padding: 0 15px 0 0;
    text-align: right;
    text-indent: 15px;
}

header nav {
    float: right;
    padding: 0 75px 0 0;
}

header nav li {
    list-style-type: none;
    text-decoration: underline;
    float: left;
    margin:0 -30px 0 10px;
    font-size: 16px;
    padding-right: 30px;
}

header nav li a {
    text-decoration: underline;
}

a {
    color: aqua;
}

.bgraphic {
    height: 215px;
    width: 100%;
    margin-bottom: 10px;
    background-image: url("./image-folder/02-hero-bg.jpg");
    background-size: cover;
    background-position: center;
    content:"testing writing on the picture";
    content-visibility: visible;
}