:root {
    --c-dark:rgb(55, 55, 91)0, 60, 128;
    --c-light:#1ed2d5;
}
* {
    box-sizing: border-box;
    font-family: 'Average Sans', sans-serif; 
}

body,
h1, h2, h3, p,
ul, li,
figure {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e5eff7;
}

.header-wrap {
    background: rgb(41, 41, 53);
    color: #37375b;
    justify-content: space-between;
    align-items: center;
}
    .steve-hondl {
    font-size: 30px;
    color:#37375b;
    background-color: #1ed2d5;
}

nav ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color:#1ed2d5;
    margin: 0 10px;
    font-size: 1rem;
}

.bgraphic {
    background-image: url("./image-folder/02-hero-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.wrap-main {
    padding: 5%;
}

.article-header {
    font-size: 30px;
    margin-bottom: 2%;
    text-align: center;
}

.article-content {
    font-size: 1rem;
}

.fb-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-card, .small-cards {
    border-style: solid;
    border-color: #1ed2d5;
    border-width: 6px;
    background-size: cover;
    margin: 10px;
}
@media screen and (max-width: 320px){
    .steve-hondl{
        text-align: center;
    }

    header nav ul{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

/* Tablet View */
@media screen and (min-width: 320px) {
    .header-wrap {
        flex-direction: column;
        align-items: center;
    }
    h1.steve-hondl {
        width: 100%; 
        text-align: center; 
        margin-bottom: 1%;
    }

    header nav {
        text-align: center; 
        width: 100%;
    }

    header nav ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    header nav li {
        margin: 0; 
        padding: 10px 0;
        text-align: center;
    }
     

}

/* Medium Desktop View */
@media screen and (max-width: 768px) {
    .header-wrap {
        flex-direction: row;
        align-items: center;
    }

    h1.steve-hondl {
        width: auto; 
        margin-right: auto; 
    }

    header nav {
        text-align: right; 
        width: auto; /
    }

    header nav ul {
        display: flex;
    }

    header nav li {
        margin: 0 10px; 
    }

}

/* Large Desktop View */
@media screen and (min-width: 769px) {
    .header-wrap {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    h1.steve-hondl {
        text-align: left;
        margin: 1% 0 1% 0;
        width: 30%;
    }
    header nav ul{
        justify-content: right;
        margin-right: 10%;
        width: 100%; 
    }

    header nav {
        display: flex;
    } 

    header nav li {
        margin: 0 10px;
    }

    .wrap-main {
        display: flex;
    }

    .article-header  {
        width: 15%;
        text-align: right;
    }

    .article-content {
        width: 85%;
        padding-left: 5%;
    }
        
}
